.App{
max-width: 1200px;
margin: 0 auto;
}

.main-pic{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

h1{
  text-align:center;
}
.flex{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.horizontal{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  list-style: none;
  font-size: 22px;
}
.horizontal li{
  cursor: pointer;
}

.horizontal li:hover{
  text-decoration: underline;
}
.product-item img{
width: 200px;
border-radius: 50%;
height: 200px;
object-fit: cover;
}
.product-item{
  width: 200px;
  text-align: center;
  margin: 30px 10px;
}
.product-item button{
  padding: 9px 33px;
  border: none;
  outline: none;
  background: #ffeb3b;
  text-transform: uppercase;
  font-weight: bold;
}
.product-item button:hover{
  background: gray;
  color: #fff;
  cursor: pointer;
}
.total{
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-item{
  line-height: 5px;
  background-color: #ffeb3b95;
  padding: 10px;
  margin: 10px;

}

.card-item.title{
  font-weight: bold;
}
.card-item.subtotal{
  font-style: italic;
  font-weight: bold; 
}
.del-btn{
  color: #fff;
  background: orangered;
  border: none;
  padding: 4px;
  margin-left: 10px;
  font-weight: bold;
}